<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => "/user/password", :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password , :class=>"textbox"%></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation, :class=>"textbox" %></div>

  <div><%= f.submit "Change My Password",:class=>'blueButton'%></div>
<% end %>

<%#= render :partial => "devise/shared/links" %>