<div class="ueBodyContent">
  <!-- add buttons -->
  <div class="addButtons">
    <span class="addFile"><a href='<%= new_add_file_path %>' rel="facebox"></a></span>
    <span class="addForm"><a href='<%= new_add_form_path %>' rel="facebox"></a></span>
    <span class="addText"><a href='<%= new_text_path %>' rel="facebox"></a></span>
    <span class="addVideo"><a href='<%= new_video_path %>' rel="facebox"></a></span>
    <span class="addImage"><a href='<%= new_image_path %>' rel="facebox"></a></span>
  </div>
  <!-- end of add buttons -->
  <div class="clear"></div>
  <!-- col 1 -->
  	<div class="userSearch">
<!-- rc table -->
        <div class="rcPaleBlue" style="padding:50px 5px 10px 5px; position:relative;">
        <!-- search and select -->
        	<input type="text" class="userSearchField" />
            <img src="images/icon-user-search-field.png" style="position:absolute; right:0; top:0;" />
            <div class="selectDiv">
            <select class="select" title="Select one">
            	<option>All columns</option>
                <option>Blue</option>
                <option selected="selected">Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
            </select>
            </div>
            <!-- end of search and select -->

<!-- names -->
	<div class="rcBlue2">
    	<div class="rcBlack2">
        <span>Smith</span> <img src="images/icon-remove.png" />
        </div>
        <span>name</span>
    </div>

    <div class="rcBlue2">
    	<div class="rcBlack2">
        <span>Admin</span> <img src="images/icon-remove-red.png" />
        </div>
        <span>role</span>
    </div>
<!-- end of names -->
        </div>
<div style="float:left; width:225px; margin:10px 0px;">
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    </div>
<!-- end of rc table -->

<!-- slider rc -->
<div class="rcPaleBlue" style="padding:5px 5px 5px 5px; position:relative;">
	<div class="searchOptions"><img src="images/icon-check-green.png" /><span>date added</span></div>
    <div class="clear"></div>

    <input type="text" class="datePicker" /><img src="images/icon-calender.png" class="calender" />

    <input type="text" class="datePickerRight" /><img src="images/icon-calender.png" class="calender" />
<div class="clearHeight10"></div>

<div class="searchOptions"><img src="images/icon-close-inactive.png" /><span>date last used</span></div>

</div>
<!-- end of rc slider -->

<div style="float:left; width:225px; margin:10px 0px;">
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    <img src="images/seperator-dot.gif" style="margin:0px 5px;" />
    </div>

<!-- slider rc -->
<div class="rcPaleBlue" style="padding:5px 5px 5px 5px; position:relative;">
	<div class="searchOptions"><img src="images/icon-check-green.png" /><span>times used</span></div>

    <div id="slider" style="width:200px; margin-left:5px;"></div>

    <div class="clearHeight30"></div>

</div>
<!-- end of rc slider -->

    </div>

  <!-- col 2 -->
  <div class="userGrid">
    <div class="userGridHeader">
            <ul class="ConLibraHeads">
            <li>
                    <span class="name">Name<br /><br /><br /></span>
                <span class="type">Type<br /><br /><br /></span>
                <span class="lastUsed">Last Used<br /><br /><br /></span>
                <span class="timesUsed">Times Used<br /><br /></span>
                <span class="dateAdded">Date Added<br /><br /></span>
                <span class="addedBy">Added By<br /><br /></span>
            </li>
        </ul>
    </div>
  <!-- grid body -->
    <div class="userGridBody">
            <div id="scrollbar1">
            <div class="scrollbar">
              <div class="track">
                <div class="thumb">
                  <div class="end">
                  </div>
                </div>
              </div>
            </div>
            <div class="viewport">
              <div class="overview">
                <ul class="ConLibra">
                  <% unless @content_libraries.blank? %>
                    <% @content_libraries.each do |content| %>
                      <li class="<%= cycle("dark", "light") %>">
                        <%#*<span class="name" title="<%= content.name %->"><p><-%= truncate(content.name, :length => 25, :separator => '..') %-></p> <%= display_content(content) %-></span>%>
                        <span class="name" title="<%= filename(content.name) %>"><p><%= truncate(filename(content.name), :length => 20, :separator => '..') %></p> <%= display_content(content) %></span>
                        <span class="type"><%= content.source_type %></span>
                        <span class="lastUsed">admin</span>
                        <span class="timesUsed">99</span>
                        <span class="dateAdded">02/08/11</span>
                        <span class="addedBy" title="<%= content.added_by %>"><%= truncate(content.added_by, :length => 10, :separator => '..') %></span>
                        <span class="edit"><%= edit_content(content) %></span>
                      </li>
                    <% end %>
                  <% else %>
                      <li class="dark" style="text-align: center"> No Records Found </li>
                  <% end %>
               </ul>
         </div>
         </div>
         </div>
         </div>
  </div>
  <!-- end of grid body -->
  <div class="userGridFooter"></div>
  <div class="clear"></div>
  <!-- end of col 2 -->
</div>
<%#= javascript_include_tag "activatables.js" %>
<%#*<script type="text/javascript">%>
<%#*activatables('page', ['page-1', 'page-2']);%>
<%#*</script>%>
