<i></i><div class="content-main">
		    			<div class="content-wrapper">

							<%=render :partial=>"content_header"%>							
		    				<div id="content_1" class="tabContent">
								<div class="tabContent-wrapper">
									<%params[:page] ||=1%>
									<div ><%=link_to('',content_search_url(:page =>params[:page].to_i-1),:class=>"navLeft")%></div>
									<div class="item-wrapper">
										<span class="leftShadow"></span>
										<span class="rightShadow"></span>
										<ul id="catalog" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
											<%@content_libraries.each do |content|%>
											<li class="item newItem">
												<span class="title"><%=truncate(content.name, :length => 15, :separator => '..')%></span><span class="dragable"></span>
												<%if content.source_type == "Image"%>
												<div class="hotspot" style="display: none;">
													<span class="pointer"></span>
													<div class="hotspotContent"><img border="0" src="<%=content.source.upload%>" width="120" height="90"></div>
												</div>
												<%elsif content.source_type == "Video"%>
												<div class="hotspot" style="display: none;">
													<span class="pointer"></span>
													<div class="hotspotContent"><img border="0" src="<%=content.source.source%>" width="120" height="90"></div>
												</div>
												<%end%>
											</li>
											<%end%>
										</ul>
									</div>
									<div><%=link_to('',content_search_url(:page =>params[:page].to_i+1),:class=>"navRight")%></div>
								</div>
		    				</div>
		    				<div  id="content_2" class="tabContent">
		    					
		    				</div>
		    				<div style="display: none" id="content_3" class="tabContent">
		    					
		    				</div>
		    				<div style="display: none" id="content_4" class="tabContent">
		    					
		    				</div>
		    				<div style="display: none" id="content_5" class="tabContent">
		    					
		    				</div>
		    			</div>
		    			
		    		</div>