<div id="logo">
        <img src="/assets/logo.png" width="210" height="35" />
</div>
<div class="flash errors">&nbsp;<%if flash[:alert] %><%= flash[:alert] %>  <%end %></div>

<%= form_for :user, :url => user_session_path do |f| %>
    <div id="login">
    	<%= f.text_field :email, :value=>"username", :class => 'textbox', :id=>'gUsername' %><br />
		<%= f.password_field :password, :value=>"password", :class => 'textbox', :id=>'gPassword' %>
    </div>
    
    <p><%= f.check_box :remember_me %> 
    remember me on this computer</p>
    
    <p><%= f.submit "Login",:class=>'blueButton',:id=>"gLogin"%></p>
<%end%>
<div id="forgotPassword">
	<%=link_to "forgot username / password",new_user_password_path%>
</div>

