<%= stylesheet_link_tag "sites", "layout", "content", "site_pages", "facebox", "modal_layout", 'themes' %>

<%= form_for [@site, @site_page] do |f| %>
  <%= f.hidden_field :page_layout %>
  <%= f.hidden_field :category, :value=>'page' %>

  <div class="main-container midium">
  	<div class="header">SEO for "Our Mission" Page<span class="helpIcon"></span></div>
  	<div class="main-content">
  		<div class="newExt-Link">
  			<div class="extForm">
  				<div class="form-row">
  				  <span class="key">custom title :</span>
  				  <span class="val"><%= f.text_field :custom_title %></span>
  				</div>
  				<div class="form-row">
  				  <span class="key">description :</span>
  				  <span class="val"><%= f.text_field :description %></span>
  				</div>
  				<div class="form-row">
  				  <span class="key">keywords :</span>
  				  <span class="val"><%= f.text_field :keywords %></span>
  				</div>
  				<div class="form-row">
  				  <span class="key">custom url :</span>
  				  <span class="val"><%= f.text_field :custom_url %></span>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="footer-section">
  		<div class="leftBtns"><button class="secondary" id="cancelBtn">Cancel</button> </div>
  		<div class="rightBtns"><button class="primary" id="saveBtn">Save Changes</button> </div>
  	</div>
  </div>
<% end %>

<script>
$('#cancelBtn').click(function(){
    $(document).trigger('close.facebox');
    return false;
});
$('.pageLayout').click(function(){
  $('#site_page_page_layout').attr('value', $(this).attr('id'));
  $(this).attr('style', 'border:1px;');
  return false;
});
</script>