<div class ='fields'>
    <div class="group">
    	<span class="key">Name:</span>
    	<span class="val"><%=f.text_field :name %></span>
    </div>
    <div class="group">
    	<span class="key">position:</span>
    	<span class="val"><%=f.text_field :position %></span>
    </div>
    <div class="group">
    	<span class="key">email:</span>
    	<span class="val"><%=f.text_field :email %></span>
    </div>
    <div class="group">
    	<span class="key">phone:</span>
    	<span class="val"><%=f.text_field :phone %></span>
    </div>
    <div class="group">
    	<span class="key"><%=link_to_remove_fields('Remove', f)%></span>
    </div>
</div>