<div class="ueBodyContent">
  <ul class="ueNavlink">
    <li>
      <%= link_to 'Add New Link', new_site_site_link_path(@site) %>
    </li>
    <li>
      <%= link_to 'All Links', site_site_links_path(@site) %>
    </li>
  </ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @site.created_by.username %>
</p>

<p>
  <b>Is active:</b>
  <%= @site.is_active %>
</p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<ul class="ueNavlink">
  <li>
    <%= link_to 'Edit', edit_site_path(@site) %>
  </li>
  <li>
    <%= link_to 'Back to all Sites', sites_path %> 
  </li>
</ul>
</div>
