<div class="btnGreyLeft ueBtnCreateNewUser">
<%= link_to 'Add Link', new_site_site_link_path(@site) %> | <%= link_to 'All Links', site_site_links_path(@site) %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @site.created_by %>
</p>

<p>
  <b>Is active:</b>
  <%= @site.is_active %>
</p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> | <%= link_to 'Back to all Sites', sites_path %> 