<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pecaa</title>
<!-- custom check box scripts -->
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
			google.load("jquery", "1.3.2");
		</script>

<%= javascript_include_tag "activatables" %>
<%= javascript_include_tag "validation"%>
<%= stylesheet_link_tag "pecaa" %>
<%= stylesheet_link_tag "select" %>
<%= stylesheet_link_tag "tabs" %>
<%= stylesheet_link_tag "prettyCheckboxes" %>
<%= stylesheet_link_tag "website" %>
<%= stylesheet_link_tag "facebox" %>
<%= stylesheet_link_tag 'jquery-ui-1.8.2.custom'%>
<%#= csrf_meta_tag %>
<%#= javascript_include_tag 'jquery.min.js','rails.js'%>
<%= javascript_include_tag 'jquery-1.4.2.min'%>
<%= javascript_include_tag 'jquery-ui-1.8.2.custom.min'%>
<%#= javascript_include_tag 'jquery.min.js', 'rails.js'%>
<%= javascript_include_tag 'facebox'%>
<%= javascript_include_tag 'common'%>
<%= javascript_include_tag 'customSelect'%>
<%= javascript_include_tag 'slider'%>
<%= javascript_include_tag "prettyCheckboxes" %>
<%= javascript_include_tag "jquery.tinyscrollbar.min" %>
<%= csrf_meta_tag %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#scrollbar1').tinyscrollbar();
  });
</script>
<!-- end of scroll bar scripts -->
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery.ui.core.js"></script>
<script type="text/javascript" src="/assets/users/scripts/Datepicker/jquery.ui.datepicker.js"></script>
<link type="text/css" href="/assets/users/scripts/Datepicker/jquery.ui.datepicker.css" rel="stylesheet" />
</head>
<body>
<div class="mainContainer">
   <div class="userEditHolder">
     <div class="ueHeader">
       <img src="/assets/ue-nav-logo.jpg" />
       <img src="/assets/ue-nav-btn-help.jpg" />
       <img src="/assets/ue-nav-btn-my-account.jpg" />
       <a href='/logout'><img src="/assets/users/images/ue-nav-btn-logout.jpg"></a>
     </div>
        <div class="clear"></div>
        
        <div class="ueBody">
<% if flash[:warning] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>
        	<div class="ueNavHolder">
            <img src="/assets/ue-nav-bg-left.png" style="float:left;" />
            <div class="ueNavMid">
            	<ul class="ueNav">
                	<li <%=check_selected("Website_List")%>><a href="/sites"><span>Website List</span></a></li>
                    <li><a href="#"><span>System Stats</span></a></li>
                    <li><a href="#"><span>Reports</span></a></li>
                    <li><a href="#"><span>Ad Setup</span></a></li>
                    <li <%=check_selected("Content_Library")%>><a href="/content_libraries"><span>Content Library</span></a></li>
                    <li <%=check_selected("Users")%>> <a href="/users"><span>Users</span></a></li>
                    <li><a href="#"><span>System Config</span></a></li>
                </ul>
            </div>
            <img src="/assets/ue-nav-bg-right.png" style="float:left;" />
            </div>
            
           <%=yield%>
            <div class="rcFooter"></div>
            <div class="clear"></div>
            
            <div class="footerLinks">
            
            <img src="/assets/icon-home.jpg" style="float:left; border:none; margin:3px 0px 0px 10px;" />
            
            <ul class="ueNavBottom">
                	<li><a href="#"><span>Link 1</span></a></li>
                    <li><a href="#"><span>Sub link 2</span></a></li>
                    <li><a href="#"><span>link 3</span></a></li>
                    <li><a href="#"><span>Sub link 4</span></a></li>
                </ul>
            </div>
        </div>
   </div>
</div>
</body>
</html>
