<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pecaa</title>


        <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
        <script type="text/javascript">
          
          $(document).ready(function(){
            $(".pagesTable tbody tr:even").addClass("alt");
          })
        </script>
        
<%= stylesheet_link_tag "tabs" %>
<%= stylesheet_link_tag "website_css/layout.css" %>
<%= stylesheet_link_tag "website_css/content.css" %>

</head>
<body>
      <div class="mainContainer">
        <div class="userEditHolder">  
          <div class="header-section">
            <div class="topHeader">
              <div class="logoHolder"></div>
              <div class="rightPanel">
                <ul>
                  <li class="help"></li>
                  <li class="myAccount"></li>
                  <li class="logout"></li>
                </ul>
              </div>
            </div>
<% if flash[:warning] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>

          
          <%=yield%>
             
      </div>
    </div>
</body>
</html>
